.product-slider {
    position: relative;
}

.product-slider::before {

    content: "";

    position: absolute;

    width: 500px;
    height: 500px;

    background: #6366f1;

    filter: blur(180px);

    opacity: .15;

    left: -150px;
    top: -100px;

    border-radius: 50%;
}

.product-slider::after {

    content: "";

    position: absolute;

    width: 500px;
    height: 500px;

    background: #ff7b7b;

    filter: blur(180px);

    opacity: .12;

    right: -150px;
    bottom: -100px;

    border-radius: 50%;
}